body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-size: 18px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
  background-color: #E1EBD0;
}

.App-header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  background-color: #000;
}

.App-title {
  text-align: center;
  margin: 0;
  font-size: 32px;
  color: white;
}
.inputSearch {
  height: 40px;
  font-size: inherit;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin: 140px auto 30px;
  max-width: 270px;
  box-sizing: border-box;
}
.card-listCharacter {
  list-style-type: none;
  padding: 0;
  margin: 20px auto;
  display: grid;
  grid-gap: 20px;
  max-width: 1140px;
}
.liCard {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.25);
  width: 270px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.name{
  text-align: center;
  font-size: 22px;
}
.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 230px;
}
.house {
  margin: 0 auto 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 0;
  width: 40px;
  padding-top: 40px;
  overflow: hidden;
}
.house--gryffindor {
  background-image: url('../images/Gryffindor.png');
}
.house--hufflepuff {
  background-image: url('../images/Hufflepuff.png');
}
.house--ravenclaw {
  background-image: url('../images/Ravenclaw.png');
}
.house--slytherin {
  background-image: url('../images/Slytherin.png');
}
.alive {
  margin: 0 auto 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 0;
  width: 40px;
  padding-top: 40px;
  overflow: hidden;
}
.alive--vivo {
  background-image: url('../images/pulse-line-red.svg');
}
.alive--muerto {
  background-image: url('../images/death-skull-and-bones.svg');
}

.image {
  width: 230px;
  height: 230px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-bottom: 10px;
}

@media (min-width: 660px) and (max-width: 980px) {
  .card-listCharacter {
    grid-template-columns: repeat(2,270px);
  }
  .inputSearch {
    max-width: 560px;
  }
}

@media (min-width: 981px) and (max-width: 1220px) {
  .card-listCharacter {
    grid-template-columns: repeat(3,270px);
  }
  .inputSearch {
    max-width: 870px;
  }
}
@media all and (min-width: 1221px) {
  .card-listCharacter {
    grid-template-columns: repeat(4,270px);
  }
  .inputSearch {
    max-width: 1140px;
  }
}
